In [1]:
#Jupyter Notebook 각 셀 화면 너비 크게 보기
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [2]:
#학생 테이블 입력, 삭제, 검색
import pymysql
def insertStudent():
    conn = pymysql.connect(host = '127.0.0.1', user = 'leedongjun', password = 'leedongjun201611279', db = 'university')
    curs = conn.cursor(pymysql.cursors.DictCursor)
    
    sql = "insert into student (sno, sname, year, dept) values (%s, %s, %s, %s);"
    
    student_info = [x for x in input("콤마(,)를 구분자로 사용하여 입력할 학생 정보(sno, sname, year, dept 순)를 입력하십시오 : ").split(',')]
    #학번 int형으로 변환
    student_info[0] = int(student_info[0])
    #학년 int형으로 변환
    student_info[2] = int(student_info[2])
    
    curs.execute(sql, student_info)
    #삽입 후 connection 갱신
    conn.commit()
    
    curs.close()
    conn.close()
    
def deleteStudent():
    conn = pymysql.connect(host = '127.0.0.1', user = 'leedongjun', password = 'leedongjun201611279', db = 'university')
    curs = conn.cursor(pymysql.cursors.DictCursor)
    
    sql = "delete from student where sno = %s;"
    
    student_info = int(input("삭제할 학생의 학번을 입력하십시오 : "))
    
    curs.execute(sql, student_info)
    #삭제 후 connection 갱신
    conn.commit()
    
    curs.close()
    conn.close()

    
def showStudentRow(curs):
    row = curs.fetchone()
    while(row):
        print("학번:%d, 이름:%s, 학년:%s, 학과:%s, 입력 날짜:%s" %(row['SNO'], row['SNAME'], row['YEAR'], row['DEPT'], row['ENTER_DATE']))
        row = curs.fetchone()
    
def selectStudent():
    conn = pymysql.connect(host = '127.0.0.1', user = 'leedongjun', password = 'leedongjun201611279', db = 'university')
    curs = conn.cursor(pymysql.cursors.DictCursor)
    
    print("\n----- 조회 메뉴 ----- \n")
    print("메뉴1 : 전체 학생 조회 / 메뉴2 : 전체 학생 조회(역순) / 메뉴3 : 특정 학번 조회\n")
    
    select_num = int(input("조회할 메뉴 번호를 고르십시오 : "))
    
    if(select_num == 1):
        print("전체 학생 조회\n")
        sql = "select * from student order by sno;"
        curs.execute(sql)
        showStudentRow(curs)
    elif(select_num == 2):
        print("전체 학생 조회(역순)\n")
        sql = "select * from student order by sno desc;"
        curs.execute(sql)
        showStudentRow(curs)
    elif(select_num == 3):
        print("특정 학번 조회\n")
        sql = "select * from student where sno = %s order by sno;"
        student_info = int(input("조회할 학생의 학번을 입력하십시오 : "))
        curs.execute(sql, student_info)
        #같은 학번의 학생들이 존재할 수 없지만 혹시 모르니까 반복문 사용
        showStudentRow(curs)
    else:
        print("번호를 잘못 입력하시어 조회 종료되었습니다.\n")
    
    curs.close()
    conn.close()

In [3]:
#과목 테이블 입력, 삭제, 검색
import pymysql
def insertCourse():
    conn = pymysql.connect(host = '127.0.0.1', user = 'leedongjun', password = 'leedongjun201611279', db = 'university')
    curs = conn.cursor(pymysql.cursors.DictCursor)
    
    sql = "insert into course (cno, cname, credit, dept, prname) values (%s, %s, %s, %s, %s);"
    
    course_info = [x for x in input("콤마(,)를 구분자로 사용하여 입력할 과목 정보(cno, cname, credit, dept, prname 순)를 입력하십시오 : ").split(',')]
    #학점은 int형으로 변환
    course_info[2] = int(course_info[2])
    
    curs.execute(sql, course_info)
    #삽입 후 connection 갱신
    conn.commit()
    
    curs.close()
    conn.close()
    
def deleteCourse():
    conn = pymysql.connect(host = '127.0.0.1', user = 'leedongjun', password = 'leedongjun201611279', db = 'university')
    curs = conn.cursor(pymysql.cursors.DictCursor)
    
    sql = "delete from course where cno = %s;"
    
    course_info = input("삭제할 과목의 과목번호를 입력하십시오 : ")
    
    curs.execute(sql, course_info)
    #삭제 후 connection 갱신
    conn.commit()
    
    curs.close()
    conn.close()

def showCourseRow(curs):
    row = curs.fetchone()
    while(row):
        print("과목번호:%s, 과목이름:%s, 학점:%d, 학과:%s, 교수이름:%s, 입력 날짜:%s" %(row['CNO'], row['CNAME'], row['CREDIT'], row['DEPT'], row['PRNAME'], row['ENTER_DATE']))
        row = curs.fetchone()    
    
def selectCourse():
    conn = pymysql.connect(host = '127.0.0.1', user = 'leedongjun', password = 'leedongjun201611279', db = 'university')
    curs = conn.cursor(pymysql.cursors.DictCursor)
    
    print("\n----- 조회 메뉴 ----- \n")
    print("메뉴1 : 전체 과목 조회 / 메뉴2 : 전체 과목 조회(역순) / 메뉴3 : 특정 과목번호 조회\n")
    
    select_num = int(input("조회할 메뉴 번호를 고르십시오 : "))
    
    if(select_num == 1):
        print("전체 과목 조회\n")
        sql = "select * from course order by cno;"
        curs.execute(sql)
        showCourseRow(curs)
    elif(select_num == 2):
        print("전체 과목 조회(역순)\n")
        sql = "select * from course order by cno desc;"
        curs.execute(sql)
        showCourseRow(curs)
    elif(select_num == 3):
        print("특정 과목번호 조회\n")
        sql = "select * from course where cno = %s order by cno;"
        course_info = input("조회할 과목의 과목번호를 입력하십시오 : ")
        curs.execute(sql, course_info)
        #같은 과목번호의 과목들이 존재할 수 없지만 혹시 모르니까 반복문 사용
        showCourseRow(curs)
    else:
        print("번호를 잘못 입력하시어 조회 종료되었습니다.\n")
    
    curs.close()
    conn.close()

In [4]:
#등록 테이블 입력, 삭제, 검색(수강 신청, 수강 취소, 수강 조회)
import pymysql
def insertEnrol():
    conn = pymysql.connect(host = '127.0.0.1', user = 'leedongjun', password = 'leedongjun201611279', db = 'university')
    curs = conn.cursor(pymysql.cursors.DictCursor)
    
    sql = "insert into enrol (sno, cno) values (%s, %s);"
    
    enrol_info = [x for x in input("콤마(,)를 구분자로 사용하여 입력할 학번 및 과목번호(sno, cno 순)를 입력하십시오 : ").split(',')]
    #학번은 int형으로 변환
    enrol_info[0] = int(enrol_info[0])
    
    curs.execute(sql, enrol_info)
    #삽입 후 connection 갱신
    conn.commit()
    
    curs.close()
    conn.close()
    
def deleteEnrol():
    conn = pymysql.connect(host = '127.0.0.1', user = 'leedongjun', password = 'leedongjun201611279', db = 'university')
    curs = conn.cursor(pymysql.cursors.DictCursor)
    
    sql = "delete from enrol where sno = %s and cno = %s;"
    
    enrol_info = [x for x in input("콤마(,)를 구분자로 사용하여 삭제할 수강과목에 해당하는 학번 및 과목번호(sno, cno 순)를 입력하십시오 : ").split(',')]
    #학번은 int형으로 변환
    enrol_info[0] = int(enrol_info[0])
    
    curs.execute(sql, enrol_info)
    #삭제 후 connection 갱신
    conn.commit()
    
    curs.close()
    conn.close()

def showEnrolRow(curs):
    row = curs.fetchone()
    while(row):
        print("학번:%d, 과목번호:%s" %(row['SNO'], row['CNO']))
        row = curs.fetchone()    

def selectEnrol():
    conn = pymysql.connect(host = '127.0.0.1', user = 'leedongjun', password = 'leedongjun201611279', db = 'university')
    curs = conn.cursor(pymysql.cursors.DictCursor)
    
    print("\n----- 조회 메뉴 ----- \n")
    print("메뉴1 : 전체 수강 조회(학번) / 메뉴2 : 전체 수강 조회(학번 역순) / 메뉴3 : 학번으로 수강정보 조회 / 메뉴4 : 과목번호로 수강정보 조회\n")
    
    select_num = int(input("조회할 메뉴 번호를 고르십시오 : "))
    
    if(select_num == 1):
        print("전체 수강 조회\n")
        sql = "select * from enrol order by sno;"
        curs.execute(sql)
        showEnrolRow(curs)
    elif(select_num == 2):
        print("전체 수강 조회(역순)\n")
        sql = "select * from enrol order by sno desc;"
        curs.execute(sql)
        showEnrolRow(curs)
    elif(select_num == 3):
        print("학번으로 수강정보 조회\n")
        sql = "select * from enrol where sno = %s order by sno;"
        enrol_info = int(input("학번을 입력하십시오 : "))
        curs.execute(sql, enrol_info)
        showEnrolRow(curs)
    elif(select_num == 4):
        print("과목번호로 수강정보 조회\n")
        sql = "select * from enrol where cno = %s order by cno;"
        enrol_info = input("과목번호를 입력하십시오 : ")
        curs.execute(sql, enrol_info)
        showEnrolRow(curs)
    else:
        print("번호를 잘못 입력하시어 조회 종료되었습니다.\n")
    
    curs.close()
    conn.close()

In [5]:
#수강신청 프로그램 main()
print("----- 수강 신청 프로그램입니다.(201611279 이동준) -----")
while(True):
    print("\n메뉴1 : 학생 등록 / 메뉴2 : 학생 삭제 / 메뉴3 : 학생 조회/ 메뉴4 : 과목 등록 / 메뉴5 : 과목 삭제\n")
    print("메뉴6 : 과목 조회 / 메뉴7 : 수강 신청 / 메뉴8 : 수강 취소/ 메뉴9 : 수강 조회 / 메뉴0 : 종료\n")
    num = int(input("메뉴 번호를 입력하십시오 : "))
    
    if (num == 1): #학생 등록
        insertStudent()
    elif(num == 2): #학생 삭제
        deleteStudent()
    elif(num == 3): #학생 조회
        selectStudent()
    elif(num == 4): #과목 등록
        insertCourse()
    elif(num == 5): #과목 삭제
        deleteCourse()
    elif(num == 6): #과목 조회
        selectCourse()
    elif(num == 7): #수강 신청
        insertEnrol()
    elif(num == 8): #수강 취소
        deleteEnrol()
    elif(num == 9): #수강 조회
        selectEnrol()
    elif(num == 0): #종료
        print("종료되었습니다.\n")
        break
    else: #예외 처리
        print("번호를 잘못 입력하셨습니다.\n")

----- 수강 신청 프로그램입니다.(201611279 이동준) -----

메뉴1 : 학생 등록 / 메뉴2 : 학생 삭제 / 메뉴3 : 학생 조회/ 메뉴4 : 과목 등록 / 메뉴5 : 과목 삭제

메뉴6 : 과목 조회 / 메뉴7 : 수강 신청 / 메뉴8 : 수강 취소/ 메뉴9 : 수강 조회 / 메뉴0 : 종료

메뉴 번호를 입력하십시오 : 10
번호를 잘못 입력하셨습니다.


메뉴1 : 학생 등록 / 메뉴2 : 학생 삭제 / 메뉴3 : 학생 조회/ 메뉴4 : 과목 등록 / 메뉴5 : 과목 삭제

메뉴6 : 과목 조회 / 메뉴7 : 수강 신청 / 메뉴8 : 수강 취소/ 메뉴9 : 수강 조회 / 메뉴0 : 종료

메뉴 번호를 입력하십시오 : 3

----- 조회 메뉴 -----

메뉴1 : 전체 학생 조회 / 메뉴2 : 전체 학생 조회(역순) / 메뉴3 : 특정 학번 조회

조회할 메뉴 번호를 고르십시오 : 3
특정 학번 조회

조회할 학생의 학번을 입력하십시오 : 500
학번:500, 이름:마이크 타이슨, 학년:3, 학과:컴퓨터, 입력 날짜:2021-05-17 08:45:33

메뉴1 : 학생 등록 / 메뉴2 : 학생 삭제 / 메뉴3 : 학생 조회/ 메뉴4 : 과목 등록 / 메뉴5 : 과목 삭제

메뉴6 : 과목 조회 / 메뉴7 : 수강 신청 / 메뉴8 : 수강 취소/ 메뉴9 : 수강 조회 / 메뉴0 : 종료

메뉴 번호를 입력하십시오 : 6

----- 조회 메뉴 -----

메뉴1 : 전체 과목 조회 / 메뉴2 : 전체 과목 조회(역순) / 메뉴3 : 특정 과목번호 조회

조회할 메뉴 번호를 고르십시오 : 3
특정 과목번호 조회

조회할 과목의 과목번호를 입력하십시오 : C413
과목번호:C413, 과목이름:데이터베이스, 학점:3, 학과:컴퓨터, 교수이름:이일로, 입력 날짜:2021-04-07 17:34:59

메뉴1 : 학생 등록 / 메뉴2 : 학생 삭제 / 메뉴3 : 학생 조회/ 메뉴4 : 과목 등록 / 메뉴5 : 과목 삭제

메뉴6 : 과목 조회 / 메뉴7 : 수강 신청 / 메뉴8 : 수강 취소/ 메뉴9 : 수강 조회 / 메뉴0 : 종료

메뉴 번호를 입력하십시오 : 0
종료되었습니다.